/* CONFIGS GLOBAIS */

:root {
    --blue: #3981BF;
    --green: #39BF81;
    --grey: #8A8A8A;
    --orange: #BF8139;
}

button {
    all: unset;
    cursor: pointer;
    display: inline-block;
}

h1 {
    size: 60px;
}

h2 {
    size: 50px;
    margin: 0;
}

h3 {
    size: 40px;
}

select,
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-sizing: border-box;
}

select:focus,
input:focus,
textarea:focus {
    outline: none;
    border-color: #3498db;
}

/* FIM CONFIGS GLOBAIS */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ededed;
    display: flex;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Para ocupar a tela toda e o login ficar centralizado */
    /* 100vh e 100vw = 100% da altura e 100% da largura da tela do usuario */
    height: 100vh;
    width: 100vw;
}

.login {
    width: 500px;
    height: 400px;
    background-color: #8A8A8A;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

/* MENU LATERAL */
.sidebar {
    /*Fixed para ficar lockado na tela quando mexer para baixo*/
    position: fixed;

    width: 12rem;
    background: white;
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}
.logo{
    padding: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin: 12px 0;
    font-size: 15px;
    cursor: pointer;
    padding: 0 20px;
}

.menu-item span {
    margin-left: 10px;
}

.menu-footer {
    margin-top: auto;
    border-top: 1px solid rgb(246, 246, 246);
    padding-top: 10px;
}

.Usuario {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    padding-right: 5px;
    background: #ececec;
}

.Usuario .avatar {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
}
.logout{
    cursor: pointer;
    padding: 5px;
}

.dadosUser {
    margin-left: 10px;
    font-size: 14px;
    overflow:hidden;
}

.user-email {
    font-size: 12px;
    color: #8A8A8A;
}

/* LADO DIREITO (PRINCIPAL) */

.main-container {
    /*Esse margin eh para o menu lateral, sem ele essa div vai ficar escondida atras dele */
    margin-left: 11rem;
    flex: 1;
    padding: 30px;
    padding-top: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: minmax(100px, 16vw) minmax(10vw, auto) minmax(10vw, auto);
    /* TAMANHO DE CADA QUADRADO */
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    padding-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    border-left: 4px solid #3981BF;
}

.card h3 {
    font-size: 16px;
    color: #8A8A8A;
    margin-bottom: 10px;
}

.card .value {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50;
}

.page-title {
    padding: 1rem;
    padding-left: 0;
    
    font-size: 1.5rem;
    color: #2c3e50;
}

.period-selector {
    width: auto;
    color: #2c3e50;
}

.period-selector label {
    font-weight: 600;
    color: #2c3e50;
}

.period-selector select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    color: #333;
}

.nav-tabs {
    display: flex;
    gap: 5px;
}

.nav-tabs button {
    padding: 8px 16px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.nav-tabs button.active {
    background-color: #3981BF;
    color: white;
    border-color: #3981BF;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.select-periodo {
    padding: 8px 12px;
    border: 1px solid #8A8A8A;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
}

#calendario {
    height: 70%;
}

.calendar-box {
    margin-top: 30px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
}

.day {
    background: white;
    height: 90px;
    padding: 6px;
    font-size: 13px;
}

.naoMesAtual {
    background: rgba(255, 255, 255, 0.481);
}

#filtroDMA {
    display: inline-flex;
    border: 2px solid #8d83ff;
    border-radius: 14px;
    overflow: hidden;
}

#filtroDMA button {
    padding: 6px 20px;
    border: 0;
    background: #fff;
    color: #6d63ff;
    font-size: 15px;
    cursor: pointer;
    border-right: 2px solid #8d83ff;
}

#filtroDMA button:last-child {
    border-right: 0;
}

/* Botão selecionado */
#filtroDMA .active {
    background: #e8e3ff;
}

.iconMenu {
    height: 1.6rem;
}

#Alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    /*esse precisa pq senao começa a partir do meio, assim coloca o meio dele no centro*/
    flex-direction: row;
    width: auto;
    display: none;

    padding: 12px 20px;
    max-width: 80%;
    text-align: center;

    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;


    color: white;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
}

.Notificacao {
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 2%;
}

.Notificacao img {
    height: 2.2rem;
}

#ConteudoAlert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.Sucesso {
    border: #00DD4A;
    background: #00dd4ad5;
}

.Erro {
    border: #FF1212;
    background: #ff1212bf;
}

.CloseAlert {
    gap: 10px;
}

select {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;

    /* Sombra leve (acreditem, faz diferenca, mas nem percebemos)*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

select:focus {
    outline: none;
    border-color: #6d9dfc;
    box-shadow: 0 0 0 3px rgba(109, 157, 252, 0.8);
}

/* CSS DO HISTORICO */

.historico-table-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.historico-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

.historico-table thead {
    background-color: #3981BF;
    color: white;
}

.historico-table th {
    padding: 15px 12px;
    font-weight: 600;
}

.historico-table tbody tr {
    border-bottom: 1px solid #ececec;
    transition: background-color 0.2s ease;
}

.historico-table tbody tr:hover {
    background-color: #ececec;
}

.historico-table tbody tr:last-child {
    border-bottom: none;
}

.historico-table td {
    padding: 15px 12px;
    color: #555;
}

.historico-table td:last-child {
    color: #e74c3c;
    font-weight: 500;
}

.modal-notificacao {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* DEIXA O RESTO DO SITE UM POUCO MAIS ESCURO */
    justify-content: center;
    align-items: center;
}

.modal-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 70vh;
    max-height: 80vh;
    overflow: hidden;
    animation: modalAppear 0.3s ease-out;
}

.modal-header {
    background: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
}

.modal-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-content {
    padding: 0;
    max-height: calc(80vh - 140px);
    overflow-y: auto;
    position: relative;
    min-width: 600px
}

.notification-item {
    padding: 16px 20px;
    margin: 10px 20px;
    border: 1px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    transition: background-color 0.2s;
}

.notification-item:hover {
    background-color: #f8fafc;
}

.notification-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    flex-shrink: 0;
}

.aprovado .notification-icon {
    background-color: #dcfce7;
    color: #16a34a;
}

.rejeitado .notification-icon {
    background-color: #fee2e2;
    color: #dc2626;
}

.notification-content {
    flex: 1;
}

.notification-item img {
    width: 1.5rem; 
}

.notification-title {
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 4px;
}

.notification-desc {
    color: #64748b;
    font-size: 0.9rem;
}

.notification-time {
    color: #94a3b8;
    font-size: 0.8rem;
    margin-top: 8px;
}

.modal-help {
    display: none;
    position: fixed;
    bottom: 7rem;
    left: 3rem;
    justify-content: center;
    align-items: center;
}


.modal-help-header {
    background-color: #003366;
    color: white;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.modal-help-content {
    background-color: white;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.modal-help-body {
    max-height: 70vh;
    overflow-y: auto;
    padding: 0.5rem;
}

.help-section {
    border-radius: 10px;
    padding: 0.2rem 1rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.help-section:hover{
    background-color: #ececec;
}
.help-section h3 {
    color: #003366;
    margin-bottom: 10px;
    font-size: 16px;
}

.help-section p {
    margin-bottom: 10px;
    color: #555;
}






/* Container do Formulário */
.form-container {
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;
}

/* Tabela do Formulário */
.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-table th {
    background: #f8f9fa;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 30px;
    border: 1px solid #dee2e6;
}

.form-table td {
    padding: 8px;
    border: 1px solid #dee2e6;
}

/* Campos do Formulário */

.form-table small {
    display: block;
    margin-top: 5px;
    color: #6c757d;
    font-size: 11px;
}

/* Textarea */
.form-table textarea {
    min-height: 7rem;
}

/* Rodapé do Formulário */
.form-footer {
    padding: 20px;
    background: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

/* Botão de Enviar */
.submit-section {
    text-align: center;
    margin-bottom: 15px;
}

.submit-btn {
    background: #3498db;
    color: white;
    padding: 12px 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2980b9;
}

.form-table th {
    position: relative;
}

/*Tirar as setinhas do campo number que são feionas*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Estilo dos Placeholders */
::placeholder {
    color: #6c757d;
    opacity: 0.7;
    font-size: 13px;
}
.right {
    float: right;
}

.filters {
    display: flex;
    gap: 6rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.calendar-btn {
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #dadada;
    background: #fff;
    cursor: pointer;
}

.cards-table-wrapper {
    margin-top: 25px;
    display: flex;
    gap: 40px;
}

.cards-relatorio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    flex: 1;
}

.card-relatorio {
    border: 2px solid #dadada;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
}

.card-relatorio p {
    margin-top: 12px;
    font-weight: bold;
    font-size: 22px;
}

.table-box {
    border: 2px solid #161616;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    width: 500px;
}

.table-box table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.table-box thead th {
    background: #F0E8FA;
    padding: 10px;
}

.table-box tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}


/*MEXER AQ*/
.modal-container-hist {
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  min-width: 70rem;
}

.hist-modal-body {
  display: flex;
  border-radius: 12px;
  border: 1px solid black;
}
.row{
    display: flex;
    justify-content: space-around;
}
/* header info */
.hist-info-grid {
  display: flex;
  flex-direction: column;
  gap: 12px 36px;
  font-size: 15px;
  margin-bottom: 28px;
}

.hist-info-grid .label {
  font-weight: 600;
}

.hist-grid-content {
  display: flex;
}
.hist-dir-modal {
  border-left: 2px solid black;
  width: 30%;
  padding: 2rem 1.5rem;
}
.hist-esq-modal {
  width: 70%;
  padding: 2rem 1.5rem;
}
.desc-box textarea, .tec-box textarea {
  width: 100%;
  height: 110px;
  border: 1px solid #aaa;
  border-radius: 4px;
  resize: none;
  padding: 8px;
  background: #fdfdfd;
  font-size: 14px;
  font-family: inherit;
}


.desc-box {
  width: 60%;
}
.tec-box {
  width: 40%;
}

/* status */
.status-row {
  padding: 32px 0;
  font-size: 18px;
}

.status-label {
  font-weight: 600;
}

.status-value {
  color: #c7a100;
  font-weight: 700;
  margin-left: 4px;
}

.req-actions {
  display: flex;
  gap: 28px;
  justify-content: flex-start;
  margin-top: 24px;
}

.req-actions button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.edit-btn {
  color: #0067ff;
}

.cancel-btn {
  color: #d10e0e;
}